
DATAROBOT_ENDPOINT="https://app.datarobot.com/api/v2"
# Values for buzok-ci-agents@datarobot.com on US prod
# https://start.1password.com/open/i?a=SNW6QKQ365EQTAV726YE6K4S24&v=jreitiqnr2da7l2itgt5lflm2e&i=qxlkoduit6bi7u3s23n7jik2s4&h=datarobot.1password.com
DATAROBOT_API_TOKEN=
DATAROBOT_USER_ID=
SESSION_SECRET_KEY=
MCP_DEPLOYMENT_ID=

# LLM test options: put them to separate .env.LLM files

# LLM Gateway test: .env.llmgw
LLM_DEFAULT_MODEL="datarobot/vertex_ai/claude-3-5-haiku@20241022"

# LLM Deployment test: .env.deployment
USE_DATAROBOT_LLM_GATEWAY=0
LLM_DEFAULT_MODEL="datarobot/datarobot-deployed-llm"
LLM_DEPLOYMENT_ID=

# External LLM test: .env.external
USE_DATAROBOT_LLM_GATEWAY=0
LLM_DEFAULT_MODEL="azure/gpt-5-mini"
AZURE_API_KEY=
AZURE_API_BASE=
AZURE_API_VERSION=
