
DATAROBOT_ENDPOINT="https://app.datarobot.com/api/v2"
# Values for buzok-ci-agents@datarobot.com on US prod
# https://start.1password.com/open/i?a=SNW6QKQ365EQTAV726YE6K4S24&v=jreitiqnr2da7l2itgt5lflm2e&i=qxlkoduit6bi7u3s23n7jik2s4&h=datarobot.1password.com
DATAROBOT_API_TOKEN=
DATAROBOT_USER_ID=
SESSION_SECRET_KEY=
MCP_DEPLOYMENT_ID=

# If you want to test LLM Gateway:
# LLM_DEFAULT_MODEL="datarobot/vertex_ai/claude-3-5-haiku@20241022"

# If you want to test LLM deployment:
# LLM_DEPLOYMENT_ID=
# USE_DATAROBOT_LLM_GATEWAY=0
# LLM_DEFAULT_MODEL="datarobot-deployed-llm"

# If you want to test an external LLM:
# WORKFLOW_FILE="workflow-external-llm.yaml"
# LLM_DEFAULT_MODEL="azure/gpt-5-mini"
# AZURE_API_KEY=
# AZURE_API_BASE=
# AZURE_API_VERSION=
