name: Add Jira Link Comment

on:
  pull_request:
    types: [opened, edited]

jobs:
  add-jira-link:
    uses: ./.github/workflows/tool-add-jira-link.yaml
    with:
      pr_title: ${{ github.event.pull_request.title }}
      pr_number: ${{ github.event.pull_request.number }}
      pr_branch: ${{ github.head_ref }}
    permissions:
      pull-requests: write
