name: Notify GenAI team on "Ready for review" PRs

on:
  pull_request:
    types: [labeled]

jobs:
  notify:
    if: contains(github.event.label.name, 'ready for review')
    uses: ./.github/workflows/tool-mark-pr-to-review.yaml
    with:
      pr_number: ${{ github.event.pull_request.number }}
      pr_url: ${{ github.event.pull_request.html_url }}
      pr_title: ${{ github.event.pull_request.title }}
      pr_author: ${{ github.event.pull_request.user.login }}
      pr_additions: ${{ github.event.pull_request.additions }}
      pr_deletions: ${{ github.event.pull_request.deletions }}
      repo_name: ${{ github.event.repository.name }}
    secrets:
      SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}
