name: Notify GenAI team on "Ready for review" PRs

on:
  schedule:
    - cron: '*/30 * * * *'
  workflow_dispatch:

jobs:
  notify:
    uses: datarobot-oss/github-actions/.github/workflows/notify-slack.yaml@0.0.3
    secrets:
      SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}
