name: Mark PR as Reviewed

on:
  workflow_call:
    inputs:
      pr_number:
        required: true
        type: number

jobs:
  add-reviewed-label:
    runs-on: ubuntu-latest

    steps:
      - name: Add "00 - Reviewed" label
        uses: actions/github-script@v7
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          script: |
            await github.rest.issues.addLabels({
              owner: context.repo.owner,
              repo: context.repo.repo,
              issue_number: ${{ inputs.pr_number }},
              labels: ['00 - Reviewed']
            });
